/*Author: Rashid Saad*/
/*contact: eflshbm@gmail.com*/
/*31/10/2021*/
/*Beni Melll Morocco*/

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}
html,body{
  font-family: 'Roboto-Light', Calibri, Arial, sans-serif;
  min-width: 300px;
}
/*rev default start*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a{
  text-decoration: none;
  color: var(--theme-font-color);
  text-shadow: 0 2px var(--theme-border);
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input::placeholder{
  color: #000;
  opacity: .7;
}
span.index.markthis{
  background: #cddc39;
}
/* rev_Default < end >*/

:root{
  --theme-font-color: #fff;
  --theme-actv: #1c0f58;
  --theme-bg: #4527a0;
  --theme-border: #1f0c72;
  --theme-mbg: #2b1785;
  --theme-hclr: #ffc107;
  --theme-ldrk: #100934;
}

/* sb */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--theme-ldrk); 
}
::-webkit-scrollbar-thumb {
  background: var(--theme-bg); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-border); 
}

/*rev default /end*/

body{
  color: var(--theme-font-color);
  background: var(--theme-mbg);
  max-width: 800px;
  margin: 10px auto;
  padding: 0 10px;
}
header, .engclasses ul > li, .semsclss ul li, #about ul li, menu, .heading{
  background: var(--theme-bg);
  box-shadow: 0 0 3px var(--theme-border);
  border-radius: 3px;
}
header {
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}
header h1{
  text-transform: uppercase;
}
header h2{
  text-transform: capitalize;
}
menu{
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
}
menu ul li{
  display: inline;
}
menu ul li a{
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.1em;
  padding: 0 10px;
  letter-spacing: 0.1em;
}
a.savepdf{
  display: block;
  text-align: center;
  font-variant: small-caps;
  padding: 10px 0;
  background: var(--theme-bg);
  border-radius: 3px;
}
footer{
  text-align: center;
  text-transform: uppercase;
  display: none;
}
section#error{
  background: var(--theme-bg);
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 1.5em;
}
div#errmsg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-transform: capitalize;
}
div#errmsg h1 {
  font-size: 5em;
  font-weight: bold;
  text-shadow: -2px 7px 0px var(--theme-border), -1px 10px 0px #757575;
  font-family: monospace;
}
div#errmsg h2{
  margin-bottom: 10px;
}
a.close {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 69px;
  line-height: 69px;
  text-align: center;
  border-left: 1px solid var(--theme-border);
}
.semsclss ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.semsclss ul li{
  width: 49.2%;
  margin-bottom: 10px;
}
.semsclss ul li a{
  display: block;
  padding: 40px 0;
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
}
.sec{
  display: none;
}
.render{
  display: block !important;
}
.engclasses ul > li, .heading{
  margin-bottom: 10px;
  padding: 20px;
  text-transform: capitalize;
  position: relative;
}
.engclasses ul li h2, #rndstory h2{
  color: var(--theme-hclr);
  font-weight: bold;
}
.engclasses ul li span, .engclasses ul li h5{
  position: absolute;
  right: 20px;
}
.engclasses ul li span{
  bottom: 30px;
  font-size: 2em;
}
.engclasses ul li h5 {
  bottom: 10px;  
  font-size: 1em;
}
.engclasses ul li h2 i {
  position: absolute;
  right: 20px;
  top: 10px;
  font-style: normal;
  transition: .2s ease-in;
}
.engclasses ul li.links{
  display: none;
  border-radius: 0px 0px 3px 3px;
  background: var(--theme-border);
}
li.links ol{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
li.links ol li {
  width: 48%;
  margin: 5px;
  border: 1px solid var(--theme-border);
}
li.links ol li a{
  padding: 10px;
  display: block;
  background: var(--theme-bg);
  border-radius: 3px;
}
/*quote*/
div#quote {
  margin-bottom: 10px;
  position: relative;
}
div#quote p{
  font-size: 1.2em;
  text-align: center;
  text-transform: none;
}
/*div#quote p:before{
  content: '“';
  left: 5px;
  top: 0;
}*/
/*div#quote p:after{
  content: '”';
  right: 5px;
  top: 0;
}*/
/*div#quote p:before, div#quote p:after{
  font-family: serif;
  font-size: 4em;
  position: absolute;
  opacity: .2;
}*/
div#quote span{
  display: block;
  text-align: center;
  opacity: .5;
  text-transform: lowercase;
  font-variant: small-caps;
}
/*stories*/
section#stories ul li p {
  text-align: justify;
  margin-top: 20px;
  text-transform: none;
}
a.read {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  padding: 5px 10px;
  background: var(--theme-hclr);
  color: #000;
  border-radius: 3px;
  box-shadow: 0 0 3px var(--theme-border);
  text-shadow: none;
}
/*story reader*/
#story{
  text-align: justify;
  padding: 20px 0;
  border-radius: 3px;
  border: 1px solid var(--theme-ldrk);
  background: var(--theme-ldrk);
}
#story h1, #story h3{
  text-align: center;
}
#story h1{
  font-size: 3em;
  font-weight: bold;
  color: var(--theme-hclr);
}
#story h3{
  padding-bottom: 20px;
  font-style: italic;
}
#story p{
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.3em;
}
#story .poem{
  text-align: center;
}
/*about*/
#about ul{
  text-align: center;
  margin-bottom: 10px;
}
#about ul li {
    padding: 10px 0;
    border-bottom: none;
    border-radius: 0;
}
#about ul li:first-of-type{
  background: var(--theme-actv);
  font-weight: bold;
  margin-top: 10px;
  border-radius: 3px 3px 0 0;
}
#about ul li:last-of-type{
  border-bottom: 1px solid var(--theme-border);
}
#about ul li a{
  color: var(--theme-hclr);
  font-weight: bold;
}
/*logs*/
#logs li {
  padding: 10px;
  border: 1px solid var(--theme-border);
  border-top: none;
  background: var(--theme-bg);
}
#logs li:first-of-type{
  border-top: 1px solid var(--theme-border);
  font-weight: bold;
  border-radius: 3px 3px 0 0;
  background: var(--theme-actv);
}
#logs li h3{
  text-transform: uppercase;
}
#logs li h3 span{
  font-weight: bold;
}
#logs li p{
  font-variant: small-caps;
  font-size: 0.8em;
}
#morelogs{
  cursor: pointer;
  font-weight: bold;
}

/*misc class*/
div#top {
  padding: 10px;
  background: #ffffff;
  opacity: .4;
  color: #000;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
  display: none;
  box-shadow: 0 0 3px var(--theme-border);
}
.bgflip {
  background: var(--theme-actv) !important;
  margin-bottom: 0px !important;
  border-radius: 3px 3px 0 0 !important;
}
.red{
  color: var(--theme-hclr);
  font-variant: small-caps;
  font-weight: bold;
}
.active a{
  font-weight: bold;
}
.havelinks{
  cursor: pointer;
}
/*media q*/
@media only screen and (max-width: 720px){
  li.links ol li{
    width: 100%;
  }
}
@media only screen and (max-width: 650px){
  header h1 {
    font-size: 1.5em;
  }
  header h2 {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 520px){
  header h1 {
    font-size: 1.1em;
  }
  header h2 {
    font-size: 1em;
  }
  #story h1 {
    font-size: 2.2em;
  }
  a.read{
    padding: 2px 5px;
    letter-spacing: 0em;
  }
  div#top {
    padding: 5px;
    font-size: 0.9em;
  }
  .semsclss ul li{
    /*width: 49.4%;*/
    width: 100%;
  }
  div#quote p{
    font-size: 1em;
  }
  div#quote span{
    font-size: .9em;
  }
  .heading{
    padding: 15px 10px;
    font-size: 1.2em;
  }
  menu{
    padding: 15px;
  }
  .semsclss ul li a {
    padding: 20px 0;
    font-size: 1.1em;
  }
  a.close{
    width: 53px;
    line-height: 53px;
  }
  .engclasses ul > li {
    padding: 10px;
  }
  .engclasses ul li span, .engclasses ul li h5{
    right: 10px;
  }
  .engclasses ul li h2 i{
    right: 10px;
  }
  .module h2{
    font-size: 1.2em;
  }
  .module h3, #logs h3{
    font-size: 1em;
  }
  .module h4{
    font-size: 0.9em;
  }
  .engclasses ul li span {
    top: 30px;
    font-size: 1.1em;
  }
  .engclasses ul li h5 {
    font-size: 0.7em;
  }
  li.links ol{
    padding: 10px;
  }
  li.links ol li{
    margin: 2px;
  }
  li.links ol li a{
    padding: 7px;
  }
}
@media only screen and (max-width: 380px){
  header {
    padding: 15px;
  }
  menu{
    padding: 10px;
  }
  header h1,header h2 {
    font-size: 1em;
  }
  #story h1 {
    font-size: 1.6em;
  }
  .heading {
    padding: 10px;
    font-size: 1.1em;
  }
  a.close {
    width: 41px;
    line-height: 41px;
  }
  li.links ol {
    padding: 0;
  }
  li.links ol li a {
    padding: 5px;
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 340px){
  menu ul li a{
    font-size: 1em;
    padding: 6px;
    letter-spacing: normal;
  }
  .module h2{
    font-size: 1em;
  }
  .module h3{
    font-size: .8em;
  }
  .module h4{
    font-size: 0.7em;
  }
  .engclasses ul li span {
    top: 25px;
    font-size: 0.9em;
  }
  .engclasses ul li h5 {
    font-size: 0.6em;
  }
}
@media print { 
  body{
    max-width: 640px;
    margin-top: 30px;
  }
  a.close{
    display: none;
  }
  .engclasses ul > li, .heading{
    padding: 10px 20px;
  }
  a.savepdf{
    display: none;
  }
  footer{
    display: block;
    margin-top: 30px;
 }
 .engclasses ul li h2 i{
    display: none;
 }
}
/*hovers*/
.semsclss ul li, a.close, li.links ol li a, a.read, #top, #morelogs, a.savepdf{
  transition: .2s ease-in;
}
/*target only bg*/
.engclasses ul > li{
  transition: background .2s ease-in;
}
.semsclss ul li:hover, a.close:hover, li.havelinks:hover, li.links ol li:hover a, #morelogs:hover, a.savepdf:hover{
  background: var(--theme-actv);
}
a.read:hover, #top:hover{
  background: var(--theme-actv);
  color: var(--theme-font-color);
  opacity: 1;
}
/*hide sems*/
#semesters ul li:nth-child(2n){
  display: none;
}
